name: Lint
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
      - run: npm ci # or yarn install
      - uses: sibiraj-s/action-eslint@v1
        with:
          eslintArgs: "--ignore-path .gitignore --quiet"
          extensions: "js, jsx, ts, tsx"
          annotations: true
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOK }}
